<div>
  <span class="h2"> Total: {{@tPrice}} $</span>
  <button class="btn btn-danger d-inline p-2" type="button" {{on "click" (fn this.emptyCart )}}>Remove All</button>
</div>

<div class="p-1">

  <ol>
    {{#each this.cart.items as |item|}}
      <li>
        <img src={{concat "https://picsum.photos/id/" item.id "/200/"}} />

        <span class="p-2">{{item.price}}$</span>

        <button class="btn btn-danger" type="button" {{on "click" (fn this.remove item)}}>   
            Remove
        </button>

      </li>
    {{/each}}
  </ol>
</div>